.article-philosphie {
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: center;
  margin-bottom: var(--rythme-base);
  text-align: justify;
}

.article-philosphie picture {
  justify-self: center;
}

.article-philosphie img {
  width: 100px;
  margin-left: var(--rythme-base);
}

.article-philosphie p {
  margin-top: var(--rythme-serre);
}
