/*------------------------------------------------------------------------------ */
/* Bouton et barre recherche */
.recherche {
  display: flex;
  flex-direction: column;
  gap: var(--rythme-tres-serre);
}

.recherche-barre {
  display: inline-block;
  white-space: nowrap; /* Empêche le retour à la ligne entre les éléments */
}

.recherche-barre > input[type="text"] {
  padding: var(--rythme-tres-serre);
  border: 1px solid var(--couleur-bordure);
  border-radius: 4px 0 0 4px;
  margin-bottom: var(
    --rythme-tres-serre
  ); /* Pour avoir un meilleur alignement dans le header. */
}

.recherche-barre > input[type="submit"],
.recherche-barre > button {
  background-color: var(--couleur-secondaire);
  padding: var(--rythme-tres-serre) var(--rythme-base);
  border: none;
  border-radius: 0 4px 4px 0;
}

.recherche-barre > input[type="submit"]:hover,
.recherche-barre > button:hover {
  background-color: var(--couleur-fond);
  cursor: pointer;
  transition: all 0.3s ease;
  transform: scale(1.05);
  transition-duration: 100ms;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* Masquer le span Trouver obligatoire WAVE */
.recherche-cache {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  border: 0;
  white-space: nowrap;
}

/*------------------------------------------------------------------------------ */
/* Bouton Appel à l'action */
/* Règles générales du bouton appel à l'action */
.appelAction {
  min-width: 250px;
  display: inline-block;
  text-align: center;
  font-weight: var(--epaisseur-police-gras);
  border-radius: 8px;
}
.appelAction:hover {
  background: var(--couleur-secondaire);
  text-decoration: none;
}

/* Variant principal du bouton */
.principal {
  background: var(--couleur-fond);
  padding: var(--rythme-serre);
  border: thick double var(--couleur-secondaire);
}

/* Variant secondaire du bouton */
.secondaire {
  background: var(--couleur-principale);
  padding: var(--rythme-serre) var(--rythme-base);
  margin-top: var(--rythme-base);
}

.secondaire:hover {
  border: solid var(--couleur-texte) 1px;
}

/* Taille d'ecran inferieur a 1400px */
@media screen and (min-width: 1170px) and (max-width: 1400px) {
  header .recherche {
    order: 1;
  }

  header .appelAction .principal {
    flex-grow: 1;
    order: 2;
  }
}
/* Taille d'ecran inferieur a 1170px */
@media screen and (max-width: 1170px) {
  header .recherche {
    display: none;
  }

  header .appelAction {
    border-radius: 0;
    border: none;
    background-color: transparent;
    border-top: 1px solid var(--couleur-texte);
  }

  header .appelAction:hover {
    background-color: var(--couleur-principale);
    text-decoration: underline;
  }
}
