/*Header*/
.entete{
  display: flex;
  background-color: var(--couleur-principale);
  padding: var(--rythme-base);
  gap: var(--rythme-tres-espace);
  align-items: stretch;
}

/* Règle générale menu principal --------------------------------------------------------*/
.entete > nav {
  display: flex;
  flex-grow: 1; /* Repartition des elements du header */
  flex-direction: row;
  align-items: center;
}

.entete-action {
  flex-grow: 1;
  justify-content: end;
  margin-left: var(--rythme-base);
}

/*------------------------------------------------------------------------------ */
.entete .sousMenu {
  position: relative;
}

.entete .sousMenu > div {
  display: none;
  position: absolute;
  padding: var(--rythme-base);
  left: 55%;
  top: 100%; /*position du menu pour arriver en bas du lien parent*/
  transform: translateX(-55%);
  background-color: var(--couleur-principale);
  text-align: center;
}

.entete .sousMenu:hover > div {
  display: flex;
  flex-direction: column;
  gap: var(--rythme-serre);
}

  /* Taille d'ecran inferieur a 1450px */
@media screen and (min-width: 1170px) and (max-width: 1450px) {
  .entete .recherche {
      order: 1;
  }
}

/* Taille d'ecran entre 1170px et 1450px */
@media screen and (min-width: 1170px) and (max-width: 1450px) {
  .entete > nav {
    flex-direction: column;
    align-items: stretch;
  }

  .entete-action {
    order: 2;
    margin: var(--rythme-base) 0;
  }

  .entete-action > * {
    flex-grow: 1;
  }

  .entete .menu-principal {
    order: 4;
    border-top: 1px solid var(--couleur-bordure);
  }
}

/* Taille d'ecran inferieur a 1170px */
@media screen and (max-width: 1170px) {
  .entete {
    flex-direction: column;
    gap: 0;
    text-align: center;
    padding: var(--rythme-tres-serre);
    align-items: stretch;
  }

  .entete > nav {
    flex-direction: column;
    align-items: stretch;
  }

  .entete > nav > div {
    flex-direction: column;
    gap: 0;
  }

  .entete-action {
    margin: 0;
  }

  .entete .menu-principal {
    border: none;
  }

  /* Gestion du sous-menu */
  .entete .sousMenu {
    padding: var(--rythme-serre);
    border-top: 1px solid var(--couleur-texte);
  }

  .entete .sousMenu > div {
    display: none;
    position: relative;
  }
}

/* Taille d'ecran inferieur a 1170px */
@media screen and (max-width: 1170px) {
  .entete-action .bouton-appelAction {
    border-radius: 0;
    border: none;
    background-color: transparent;
    border-top: 1px solid var(--couleur-texte);
  }

  .entete-action .bouton-appelAction:hover {
    background-color: var(--couleur-principale);
    text-decoration: underline;
  }

  .entete .recherche {
    display: none;
  }
}


    