/* Cette section utilise une image en arrière-plan. Par conséquent, nous l'avons considérée comme un élément graphique.
  => Utilisation de width et height.

/* Règles générales */
.article-fond-image {
  width: 100%;
  height: 550px;
  align-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: var(--rythme-espace);
  margin: 0;
}

.article-fond-image h2,
.article-fond-image h3,
.article-fond-image p {
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: var(--rythme-serre) var(--rythme-base);
  border-radius: var(--arrondi-petit);
  margin: var(--rythme-base) 0;
}

.article-fond-image h2 {
  border: none;
}

/* Variant secondaire : */
.article-secondaire {
  display: inline-block;
  text-align: center;
}

.article-secondaire h2,
.article-secondaire p {
  max-width: 650px;
  margin: var(--rythme-base) auto;
}

/*Variant background */
/** Publication principale - Accueil */
[id="accueil-principal"] {
  background-image: url("../image/accueil.jpg");
}

/** Publication promotion - Accueil */
[id="accueil-promotion"] {
  background-image: url("../image/promotion.png");
}

/** Publication votre restaurant - Accueil */
[id="votre-restaurant"] {
  background-image: url("../image/votre-restaurant.jpg");
}

/* Taille d'ecran inferieur a 768px */
@media screen and (max-width: 768px) {
  .article-fond-image {
    text-align: center;
  }
  .article-fond-image h2,
  .article-fond-image h3,
  .article-fond-image p {
    margin: var(--rythme-base) auto;
  }
}
