/* Cette section utilise une image en arrière-plan. Par conséquent, nous l'avons considérée comme un élément graphique.
  => Utilisation de width et height.

/* Règles générales */
.fond-image {
  width: 100%;
  height: 550px;
  align-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: var(--rythme-espace);
  margin: 0;
}

.fond-image .boite {
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: var(--arrondi-petit);
  padding: var(--rythme-serre) var(--rythme-base);
}

.fond-image h2,
.fond-image p {
  margin: var(--rythme-base) 0;
}

.fond-image h2 {
  border: none;
}

/* Variant texte centre */
.fond-image-centre {
  display: inline-block;
  text-align: center;
  justify-items: center;
}

.fond-image-centre .boite {
  max-width: 650px;
}

/*Variant background */
/** Page accueil - Publication principale - Accueil */
[id="fond-image-accueil"] {
  background-image: url("../image/accueil.jpg");
}

/** Page accueil - Publication promotion - Accueil */
[id="fond-image-promotion"] {
  background-image: url("../image/promotion.png");
}

/** Page accueil - Publication votre restaurant - Accueil */
[id="fond-image-restaurant"] {
  background-image: url("../image/votre-restaurant.jpg");
}

/** Page Franchise Val JalBert - accueil */
[id="fond-image-ValJalbert-accueil"] {
  background-image: url("../image/valJalbert-accueil.jpg");
}

[id="fond-image-ValJalbert-accueil"] > .boite > section > * {
  margin: var(--rythme-serre);
}

[id="fond-image-ValJalbert-accueil"] > .boite > :last-child {
  border-top: solid 2px var(--couleur-secondaire);
  margin-top: var(--rythme-base);
  padding: var(--rythme-base) 0;
}

[id="fond-image-ValJalbert-accueil"] > .boite a {
  text-decoration: underline;
}

[id="fond-image-ValJalbert-accueil"] > .boite a:hover {
  font-weight: var(--epaisseur-police-tres-gras);
}

/* Page franchise ValJalbert - promotion */
[id="fond-image-ValJalbert-promotion"] {
  background-image: url("../image/promotion-valJalbert.png");
}

/* Page franchise ValJalbert - reserver */
[id="fond-image-ValJalbert-reserver"] {
  background-image: url("../image/reserver-votre-table.jpg");
}

[id="fond-image-philosophie"] {
  background-image: url("../image/philosophie.jpg");
}

/* Taille d'ecran inferieur a 768px */
@media screen and (max-width: 768px) {
  .fond-image {
    text-align: center;
    justify-items: center;
  }

  .fond-image h2,
  .fond-image p {
    margin: var(--rythme-base) auto;
  }
}
