body > footer {
  background-color: var(--couleur-principale);
}

.bas-page-conteneur {
  display: flex;
  flex-direction: row;
  padding: var(--rythme-base);
  align-items: center;
}
.bas-page-conteneur > section > p {
  margin: var(--rythme-serre) 0;
}

footer nav {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.menu-secondaire {
  align-content: center;
}

.menu-secondaire > a {
  margin: 0 var(--rythme-base);
}

.menu-secondaire :last-child {
  margin-right: 0;
}

footer nav > div {
  justify-content: end;
}

footer nav > div:first-child > a:first-child {
  margin-left: 0;
}

.puce-bas-page {
  display: none;
  width: 15px; /*  élément graphique */
  margin-right: var(--rythme-tres-serre);
}

/*droits-reserves*/
.droits-reserves {
  background: var(--couleur-texte);
  color: var(--couleur-fond);
  text-align: center;
  padding: var(--rythme-serre);
}

/* Taille d'ecran entre 1170px a 1450px */
@media screen and (min-width: 1170px) and (max-width: 1450px) {
  .bas-page-conteneur {
    flex-direction: column;
  }
}

/* Taille d'ecran inferieur a 1170px */
@media screen and (max-width: 1170px) {
  .bas-page-conteneur {
    flex-direction: column-reverse;
  }
  .horaire {
    text-align: center;
  }

  footer nav > div {
    flex-direction: column;
    gap: var(--rythme-serre);
    margin: var(--rythme-tres-serre) 0;
  }

  .menu-secondaire > a {
    display: block;
    margin: var(--rythme-tres-serre) var(--rythme-base);
  }

  footer nav > div:first-child > a:first-child {
    margin-left: 0;
  }

  footer nav > div > a {
    margin-left: var(--rythme-base);
  }

  .puce-bas-page {
    display: inline-block;
  }
}
