@import url("variable.css");	 
/* Règles génériques -----------------------  ==== ref = M.Charpentier*/

	/* Rétablir les marges intérieures & extérieures sur tout */
		* {
			margin: 0;
			padding: 0;
		}
	
	/* Rythme vertical de base pour tous les éléments de contenu */
		*+p, *+img, *+a, *+small
		*+h1, *+h2, *+h3, *+h4, *+h5, *+h6 { 
			margin-top: var(--rythme-base); 
		}
	
	/* Base typographique à être héritée ==== ref = M.Charpentier*/
		html {
			font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
			line-height: 1.5625;
			color: var(--couleur-texte);
		}
	
		/* Interlignage propre aux titres
			(moins espacé que le contenu courant) */
		h1, h2, h3, h4 {
			line-height: var(--interligne-titre);
		}
	
		/* Style « prototype » pour les images vides  ==== ref = M.Charpentier*/
		img {
			background-color: rgba(0,0,0,0.1);
			background-image: linear-gradient(to top left,
				  rgba(0,0,0,0) 0%,
				  rgba(0,0,0,0) calc(50% - 1px),
				  rgba(0,0,0,.1) 50%,
				  rgba(0,0,0,0) calc(50% + 1px),
				  rgba(0,0,0,0) 100%),
			  linear-gradient(to top right,
				  rgba(0,0,0,0) 0%,
				  rgba(0,0,0,0) calc(50% - 1px),
				  rgba(0,0,0,.1) 50%,
				  rgba(0,0,0,0) calc(50% + 1px),
				  rgba(0,0,0,0) 100%);
			border-radius: 3px;
		}
	
		/* Base « prototype » pour les éléments enligne 
			utilisés seuls (sans parent textuel — p. ex. <p>) */
		a, small {
			display: inline-block;
		}
	
		/* Marges de sécurité de base */ /****LOUBNA JE SOUHAITE SUPPRIMER CETTE MARGE. ELLE EST TROP LARGE EST IMPLIQUE DE METTRE MARGIN 0 PLUS LOIN
		/* body>* {
			margin: var(--rythme-base);
		}
	 */
	
	/* Règles spécifiques des éléments de contenu ----------------------- */
	
		/* *Tous* liens sont de type bouton*/
		a, input[type=submit], button{
			padding: var(--rythme-tres-serre);
			background: var(--couleur-secondaire);
			color: var(--couleur-background);
			text-decoration: none;
			border-radius: 8px;
			cursor: pointer;
			transition: all 0.3s ease-in-out;
			transition-duration: 100ms;
			
		  }
	
		a:hover, input[type=submit]:hover, button:hover {
			background:  var(--couleur-tertiaire);
			color:var(--couleur-background);
		  }
	
		input[type=submit]{
			display: block;
			margin:var(--rythme-base) 0;
			padding: var(--rythme-base);
			box-sizing: border-box;
			text-decoration: none;
			text-transform:uppercase;
			font-weight: 600;
			border:none;	
		}
	
		input[type=search], input[type=text]{
			width: 100%;
			padding: var(--rythme-serre) var(--rythme-base);
			margin: var(--rythme-base) 0;
			display: inline-block;
			border: 1px solid #ccc;
			border-radius: 4px;
			box-sizing: border-box;	
		}
	
		
		
	
		/* Intervention graphique séparant clairementles titres du contenu les suivant */
		h2 {
			border-bottom: 1px solid var(--couleur-texte);
			padding-bottom: var(--rythme-base);
			margin-bottom:var(--rythme-base);
		}
	
		blockquote{
			font-style: italic;
			margin-right: var(--rythme-espace);
			color:#666;
			font-size: 1.1em;
			line-height: 2.25em;
			font-family: Georgia, "Times New Roman", serif;
			max-width: 60ch;
		}

		/* Règles générales des sections de contenu ==============================================================================*/
	
	
		/* Rythme vertical espacé pour bien dégagerles principaux conteneurs de contenu */
		body>section {
			margin-top: var(--rythme-tres-espace);
		}
	
		/* Limiter et centrer les principales sections de contenu */
		body>section {
			max-width: 100rem;
			margin-left: auto;
			margin-right: auto;
			padding-left: var(--rythme-base);
			padding-right: var(--rythme-base);
		}
	
		/* Rythme vertical de base pour les éléments de section */
		body>section>*+* {
			margin-top: var(--rythme-base);
		}
	
		/*section avec bg image en arrière plan*/
		.bgImg, header{
			background-color: rgba(0,0,0,0.1);
		background-image: linear-gradient(to top left,
			  rgba(0,0,0,0) 0%,
			  rgba(0,0,0,0) calc(50% - 1px),
			  rgba(0,0,0,.1) 50%,
			  rgba(0,0,0,0) calc(50% + 1px),
			  rgba(0,0,0,0) 100%),
		  linear-gradient(to top right,
			  rgba(0,0,0,0) 0%,
			  rgba(0,0,0,0) calc(50% - 1px),
			  rgba(0,0,0,.1) 50%,
			  rgba(0,0,0,0) calc(50% + 1px),
			  rgba(0,0,0,0) 100%);
		}


		body>section.bgImg{
		
		padding: var(--rythme-tres-espace) var(--rythme-base);
		}
	
		body>section.bgImg h2{
			border-bottom:none;
			padding-bottom:0;
			margin-bottom:var(--rythme-base);
		}

		body>section.bgImg h4{
			margin-top:0;
			margin-bottom:var(--rythme-espace);
		}
	
		body>section.bgImg{
			text-align: center;
		}
	
	/* Règle générale header --------------------------------------------------------*/


		/* Conteneur spécifique : Entête principale -----ref=M.Charpentier------------------ */
	
		/* Donner un style « boîte de couleur »et forcer la pleine largeur (ie : full bleed) */
		body>header {
			/* margin: 0; */ /* Supprimer la marge de sécurité */
			min-height: 50vh;
			padding: var(--rythme-espace) var(--rythme-base);
		}
	
		

	
	/* Règle générale menu principal --------------------------------------------------------*/
	
		nav {
			display: flex;
			flex-direction: row;
			align-items:center;
			align-content: stretch;
			background-color: var(--couleur-primaire);
			padding: var(--rythme-base) ;
		}
	
		nav>* {
			flex-basis:calc(16%);	
		}
	
		nav a {
			display: inline-block;
			width: 100%;
			text-align: center;
			background: none;
			color:var(--couleur-background);
			padding: 5px;
			position: relative;
			/* margin: 0; */ /* Supprimer la marge de sécurité */
			box-sizing: border-box;
			text-decoration: none;
			text-transform:uppercase;
			font-weight: 600;
			border-radius: 0;
		  }
		  
		nav a:hover {
			color:var(--couleur-texte);
			background: none;
		}
	
		nav a.callToAction {
			background: var(--couleur-secondaire);
			margin-right: var(--rythme-base); /* AVANT margin: 0 1em 0 0; */
			border-radius: 8px;
			padding:var(--rythme-serre);
		}

		nav a.callToAction:hover {
			background:  var(--couleur-tertiaire);
			color:var(--couleur-background)
		}
	
	
		 
	
		/*Logo*/
		div a span{
			font-size: 2em;
			font-weight: 500;
			text-transform: uppercase;
			transition: all;
		}
	
		div a:hover span{
			font-weight: 700;
			color:var(--couleur-tertiaire);
		}

		nav div:first-child{
			text-align: center;
			
		}
		
		nav div:first-child a{
			background:none;
			color: var(--couleur-background);
			padding:0;
			text-align: left;
			
		}
	
		nav div a span{
			line-height: 1.78em; /* hauteur de la zone du logo pour aller avec la zone des element du menu*/
		}
	
		/*Sous-menu*/
		  nav div.sousMenu {
			position:relative
		  }
	
		nav div.sousMenu > div {
			display: none;
			position: absolute;
			padding:var(--rythme-base) 0;
			width: 100%;
			top:2em; /*position du menu pour arriver en bas du lien parent*/
			left:0;
			background-color: var(--couleur-primaire);
		  }
		  
		  nav div.sousMenu:hover > div {
			display:block;
		  }
	
		  nav div.sousMenu> div:hover {
			display:block;
		  }
		  
	

		/*formulaire dansla navigation*/
		/* nav form{
			margin-top:-6px; /*Corrigez l'alignement
		  }
	 */
	
		nav form input[type=text] {
			float: left;
			padding: 4px ;
			/* margin: 0; */ /* Supprimer la marge de sécurité */
			width: 80%;
			border-bottom-right-radius: 0;
			border-top-right-radius: 0;
		  }
	
	
	
		nav form button{
			float: left;
			width: 18%;
			padding: 0.375em 0.75em;
			border: none;
			cursor: pointer;
			border-bottom-left-radius: 0;
			border-top-left-radius: 0;
		}
	
	/* Règles générales des grilles ---------------------- */
	
	
		.container {
			display: flex;
			justify-content: space-between;
			gap:var(--gouttiere);
		}
	
		/* Largeur de base de tout enfant de la grille */
		.container>div {
			width: calc(25% - 20px);
		}
	
		/* Dimensions de base de toute image (vide) interne */
		body>section>div img {
			height: 12rem;
			width: 100%;
			box-sizing: border-box;
		}
	
		/*lien categorie item grille*/
		.cartegorie a {
			background: none;
			border: 1px solid var(--couleur-texte);
			padding:var(--rythme-base);
			width: 100%;
			box-sizing: border-box;
			/*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
		}
	
		.cartegorie a h4{
			color:var(--couleur-primaire);
			padding:0;
		}
	
		.cartegorie a:hover {
			background: none;
			border: var(--couleur-secondaire) solid 2px;
			/*Ajout d'une bordure sur le survol afin de remplacer le boz-shadow*/
			
		}
	
		.cartegorie a:hover h4{
			color:var(--couleur-secondaire);
		}
	
	
	/*header specifique header ===================================================================== */
		

		
	
		/* Permettre aux enfants de l'entête de croître */
		body>header>* {
			flex-grow: 1;
		}

		header .container>div {
			width: calc(100% - 20px);
		}

		body>header {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		header h1{
			font-size: 3em;
			font-weight: 900;
			text-transform: uppercase;
			margin-bottom: var(--rythme-base);
		}
		
		header h3{
			/* margin-top:0; /* Supprimer la marge de sécurité */
			font-weight: 700;
			text-transform: uppercase;
		}

		/* header h4{
			/* margin-top:0; /* Supprimer la marge de sécurité 
			
		} */
	
	
	/*Grille Trouver un restaurant ===================================================================== */
		.resto {
			display:flex;
			flex-grow: 1;
			flex-wrap: wrap;
			justify-content: space-evenly;
			gap:var(--gouttiere);
			
		}
	
		.resto>div {
			width: calc(33.33% - 20px);
		
		}
	
	/*Zone trouver un resto*/	
		.map{
			background-color: var(--couleur-primaire);
			padding:var(--rythme-base);
			color:var(--couleur-background);
			/* margin-top:-20px;pour coller la division sur la section */
		}
	
		.map h2{
			color:var(--couleur-background);
			border-bottom: 1px solid var(--couleur-background);
		}
	
	/* Grille article ===================================================================== */
	
		article{
			display:flex;
			gap:var(--gouttiere);
			margin-bottom:var(--rythme-espace);
			margin-top:var(--rythme-espace);
		}
		
		
		article img{
			min-width: 50%;
			height: 15rem;
			margin-top:0;
			
		}
		
		article p{
			font-size:1.1em;
			line-height: 2em;	
		}
	
	/* Grille menu resto ===================================================================== */
		.menuResto a{
			width: calc(100% - 40px);
			min-height: 22.5em; /*categorie tous de la meme hauteur pour l'alignement*/
			text-align: center;
		
		}
		
		.menuResto p{
			margin-top:var(--rythme-base);
			padding:0 var(--rythme-espace);
			color:var(--couleur-texte);
			
		
		}
	
	
	/* Grille galerie ===================================================================== */
		.galerie{
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			flex-flow: row wrap; 
			margin: 0 auto;
		}
		
		
		.galerie>div{
			flex: auto; 
			min-width: 150px;
			/* margin-top:0; /* Supprimer la marge de sécurité */
			border:2px #fff solid;
		}
		
		/*variation taille image pour le bien du protoype*/
		.galerie>div:nth-child(even){
			min-width: 350px;  
			
		}
		
		.galerie>div:nth-child(3){
			min-width: 600px;  
			
		}
		
		.galerie>div:nth-child(6){
			min-width: 900px;  
			
		}
	
	/* Grille groupe ===================================================================== */
		.group{
			display:flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		
		
		
		.group>div {
			width: calc(33% - 20px);
			margin-bottom:0;
		}
		
		.group>div img {
			margin-top:-20px;
			height: 20rem;
		}
		
		.group>div:first-child {
			flex-grow: 2;
		}
		
		.group ul{
			margin:var(--rythme-espace);
		}
	
	/* Grille témoignage ===================================================================== */
	
		.temoignage {
			justify-content: start;
		}
		
		.temoignage>div:last-child{
			flex-grow: 2;
		}
		
		.temoignage>div:first-child {
			text-align: center;
		}
		
		.temoignage>div:first-child img{
			border-radius: 50%;
			width: 10rem;
		}
	
	
	
	/* Pied de page ===================================================================== */
	
		body>footer{
			margin:60px 0 0 0;
			color:var(--couleur-background);
			background-color: var(--couleur-primaire);
		}
		
		
		
		footer div.container {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content:space-between;
			align-items: stretch;
			align-content: center;
			gap: var(--gouttiere);
			padding:var(--rythme-base); 
			
		}


		footer div.container>div{
			width:calc(50% - 20px);
		}
		
		
		
		footer div.container div:last-child a:first-child:not(.callToAction)  {
			display: block;
		}
		
		footer div.container div:last-child div:last-child  {
			text-align: right;
		}
		
		
		footer a:not(.callToAction) {
			padding:0;
			margin:0 var(--rythme-base) 0 0;
			line-height: 2em;;
			background: none;
			color:var(--couleur-background);
		}
		
		footer a.callToAction {
			margin: var(--rythme-base) var(--rythme-base) 0 0;
			text-align: center;
			text-decoration: none;
			text-transform:uppercase;
			font-weight: 600;
		}
		
		footer p {
			line-height: 1em;
		}
		
		/*copyright*/
		footer div.copyright{
			background: var(--couleur-texte);
			padding:var(--rythme-base) 0;
		}
		footer div.copyright p{
			color:var(--couleur-background);
			text-align: center;
		}