footer div.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: center;
  gap: var(--gouttiere);
  padding: var(--rythme-base);
}

footer div.container > div {
  width: calc(50% - 20px);
}

footer div.container div:last-child a:first-child:not(.callToAction) {
  display: block;
}

footer div.container div:last-child div:last-child {
  text-align: right;
}

footer a:not(.callToAction) {
  padding: 0;
  margin: 0 var(--rythme-base) 0 0;
  line-height: 2em;
  background: none;
  color: var(--couleur-background);
}

footer a.callToAction {
  margin: var(--rythme-base) var(--rythme-base) 0 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}

footer p {
  line-height: 1em;
}

/*copyright*/
footer div.copyright {
  background: var(--couleur-texte);
  padding: var(--rythme-base) 0;
}
footer div.copyright p {
  color: var(--couleur-background);
  text-align: center;
}
