/* Conteneur principal */
.restaurants-map {
  display: flex;
  flex-direction: column;
}

.restaurants-map h2 {
  margin-bottom: 0;
}

.conteneur-restaurant-map {
  display: flex;
  justify-content: center;
}

/* Carte interactive */
.map {
  background-color: var(--couleur-principale);
  padding: var(--rythme-base);
}

.map h3 {
  border-bottom: 1px solid var(--couleur-bordure);
}

.map figure {
  margin-top: var(--rythme-base);
}

.map input[type="text"] {
  min-width: 250px;
}

/* Taille d'ecran inferieur a 1170px */
@media screen and (max-width: 1170px) {
  .restaurants-map h2 {
    margin-bottom: var(--rythme-base);
  }
  .conteneur-restaurant-map {
    flex-wrap: wrap-reverse;
  }
  .map {
    min-width: 620px;  /* j'ai fait 620px au lieu 600px pour qu'il sera bien aligné avec les cartes*/
    margin: auto;
  }
}

/* Taille d'ecran inferieur a 768px */
@media screen and (max-width: 768px) {
  .map {
    min-width: 0px;  /* est ce que ici on peut faire auto au lieu 0px ? */
  }
}
