/* Conteneur principal */
.restaurants-plan {
  display: flex;
  flex-direction: column;
}

.restaurants-plan h2 {
  margin-bottom: 0;
}

.conteneur-restaurant-plan {
  display: flex;
  justify-content: center;
}

/* Carte interactive */
.plan {
  background-color: var(--couleur-principale);
  padding: var(--rythme-base);
}

.plan h3 {
  border-bottom: 1px solid var(--couleur-bordure);
}

.plan figure {
  margin-top: var(--rythme-base);
}

.plan input[type="text"] {
  min-width: 250px;
}

/* Taille d'ecran inferieur a 1170px */
@media screen and (max-width: 1170px) {
  .restaurants-plan h2 {
    margin-bottom: var(--rythme-base);
  }
  .conteneur-restaurant-plan {
    flex-wrap: wrap-reverse;
  }
  .plan {
    min-width: 600px;
    margin: auto;
  }
}

/* Taille d'ecran inferieur a 768px */
@media screen and (max-width: 768px) {
  .plan {
    min-width: auto;
  }
}
