/* Choix d'un fichier spécifique pour le titre et le logo, car ce composant est utilisé à plusieurs endroits sur le site. */

/*Titre principal & Logo */
.titreLogo {
  display: flex;
  flex-direction: row;
  background-color: var(--couleur-principale);
  align-items: center;
  gap: var(--rythme-serre);
}

.titreLogo img {
  width: 90px;
}

.titreLogo h1 {
  font-size: var(--taille-police-gros);
  font-weight: var(--epaisseur-police-gras);
  line-height: var(--interligne-logo);
  text-transform: uppercase;
  transition: all;
}

.titreLogo:hover {
  background-color: var(--couleur-principale);
}

.titreLogo:hover h1 {
  font-weight: var(--epaisseur-police-tres-gras);
  text-decoration: underline;
}
