:root {
  /* --- Espacement --- */
  --gouttiere: 20px;
  --rythme-tres-serre: 10px;
  --rythme-serre: 10px;
  --rythme-base: 20px;
  --rythme-espace: 40px;
  --rythme-tres-espace: 80px;
  --largeur-max: 100rem;
  /* --- Couleurs --- */
  --couleur-background: #fffbf7;
  --couleur-texte: #252b0c;
  --couleur-primaire: #84a76c;
  --couleur-secondaire: #af5265;
  --couleur-tertiaire: #e5be7c;
  /* --- Interligne --- */
  --interligne-titre: 1.25em;
  --interligne-base: 1.5625em;
  --interligne-logo: 1.78em;
  /* --- Taille de police --- */
  --taille-police-gros: 2em;
  /* --- Epaisseur de police --- */
  --epaisseur-police-fine: 300;
  --epaisseur-police-normale: 400;
  --epaisseur-police-gras: 500;
  --epaisseur-police-tres-gras: 700;
}

/* --- Interlignage --- */
/* AVANT */
/* Eparpille dans le fichier main.css */

/* APRES */
:root {
}
